In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df_proportion=pd.read_csv("Persons aged 2 years and over - type of food avoided due to allergy or intolerance(a), 2011-12.csv")

In [8]:
df_proportion.head()

      Type of Food  Food avoided (%)
0             Eggs               0.9
1  Cows milk/Dairy               4.5
2          Peanuts               1.4
3             Fish               0.7
4        Shellfish               2.0

In [14]:
df_proportion.columns

Index(['Type of Food', 'Food avoided (%)'], dtype='object')

In [15]:
df_proportion.dtypes

Type of Food         object
Food avoided (%)    float64
dtype: object

In [10]:
df_proportion

      Type of Food  Food avoided (%)
0             Eggs               0.9
1  Cows milk/Dairy               4.5
2          Peanuts               1.4
3             Fish               0.7
4        Shellfish               2.0
5        Tree nuts               0.7
6             Soya               0.2
7           Gluten               2.5
8            Yeast               0.4
9            Other               8.5

In [7]:
df_proportion.describe()

       Food avoided (%)
count         10.000000
mean           2.180000
std            2.564198
min            0.200000
25%            0.700000
50%            1.150000
75%            2.375000
max            8.500000

In [2]:
import seaborn as sns

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline
sns.set()

In [3]:
hospital_df=pd.read_csv("Main_hospital_list_victoria.csv")

In [7]:
hospital_df.head(100)

,Hospital ID,Formal Name,Other Name,Emergency Capable,Location Address,Suburb,Postcode,Access Point,Category,Agency Type
0,5488,Albert Road Clinic,Albert Road Clinic,NO,31-33 Albert Road,South Melbourne,3205,NaN,PRIVATE,Private Hospital
1,3485,Albury Wodonga Health,Albury Wodonga Health,YES,69 Vermont Street,Wodonga,3690,NaN,PUBLIC,Public Hospital
2,12990,"Albury Wodonga Health, Albury Campus","Albury Wodonga Health, Albury Campus",YES,Borella,Albury,2640,NaN,PUBLIC,Public Hospital
3,3491,Alexandra District Health,Alexandra District Health,NO,20 Cooper Street,Alexandra,3714,NaN,PUBLIC,Public Hospital
4,11519,Alfred Health,Alfred Health,NO,Commercial Road,Melbourne,3004,NaN,PUBLIC,Public Hospital
...,...,...,...,...,...,...,...,...,...,...
95,3510,Healesville and District Hospital,Healesville and District Hospital,NO,377 Maroondah Highway,Healesville,3777,NaN,PUBLIC,Public Hospital
96,6355,Heathcote Health,Heathcote Health,NO,39 Hospital Street,Heathcote,3523,NaN,PUBLIC,Public Hospital
97,10766,Heidelberg Endoscopy and Day Surgery Centre,Heidelberg Endoscopy and Day Surgery Centre,NO,177-179 Northern Road,Heidelberg,3081,NaN,PRIVATE,Day Procedure Centre
98,6873,Hesse Rural Health Service,Hesse Rural Health Service,NO,8 Gosney Street,Winchelsea,3241,NaN,PUBLIC,Public Hospital
99,2455,Heyfield Hospital Inc.,Heyfield Hospital Inc.,NO,21 Tyson Road,Heyfield,3858,NaN,PRIVATE,Bush Nursing Hospital

In [8]:
hospital_df.columns

Index(['Hospital ID', 'Formal Name', 'Other Name', 'Emergency Capable',
       'Location Address', 'Suburb', 'Postcode', 'Access Point', 'Category',
       'Agency Type'],
      dtype='object')

In [11]:
hospital_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269 entries, 0 to 268
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Hospital ID        269 non-null    int64
 1   Formal Name        269 non-null    object
 2   Other Name         269 non-null    object
 3   Emergency Capable  269 non-null    object
 4   Location Address   269 non-null    object
 5   Suburb             269 non-null    object
 6   Postcode           269 non-null    int64
 7   Access Point       0 non-null      float64
 8   Category           269 non-null    object
 9   Agency Type        269 non-null    object
dtypes: float64(1), int64(2), object(7)
memory usage: 21.1+ KB

In [13]:
hospital_df.isnull().sum()

Hospital ID            0
Formal Name            0
Other Name             0
Emergency Capable      0
Location Address       0
Suburb                 0
Postcode               0
Access Point         269
Category               0
Agency Type            0
dtype: int64

In [17]:
hospital_df.shape

(269, 10)

In [18]:
hospital_df.drop('Other Name',
  axis='columns', inplace=True)

In [20]:
hospital_df.head()

,Hospital ID,Formal Name,Emergency Capable,Location Address,Suburb,Postcode,Access Point,Category,Agency Type
0,5488,Albert Road Clinic,NO,31-33 Albert Road,South Melbourne,3205,NaN,PRIVATE,Private Hospital
1,3485,Albury Wodonga Health,YES,69 Vermont Street,Wodonga,3690,NaN,PUBLIC,Public Hospital
2,12990,"Albury Wodonga Health, Albury Campus",YES,Borella,Albury,2640,NaN,PUBLIC,Public Hospital
3,3491,Alexandra District Health,NO,20 Cooper Street,Alexandra,3714,NaN,PUBLIC,Public Hospital
4,11519,Alfred Health,NO,Commercial Road,Melbourne,3004,NaN,PUBLIC,Public Hospital

In [21]:
hospital_df = hospital_df.rename(columns={"Formal Name":"Hospital Name"})

In [23]:
hospital_df.head(10)

,Hospital ID,Hospital Name,Emergency Capable,Location Address,Suburb,Postcode,Access Point,Category,Agency Type
0,5488,Albert Road Clinic,NO,31-33 Albert Road,South Melbourne,3205,NaN,PRIVATE,Private Hospital
1,3485,Albury Wodonga Health,YES,69 Vermont Street,Wodonga,3690,NaN,PUBLIC,Public Hospital
2,12990,"Albury Wodonga Health, Albury Campus",YES,Borella,Albury,2640,NaN,PUBLIC,Public Hospital
3,3491,Alexandra District Health,NO,20 Cooper Street,Alexandra,3714,NaN,PUBLIC,Public Hospital
4,11519,Alfred Health,NO,Commercial Road,Melbourne,3004,NaN,PUBLIC,Public Hospital
5,5618,Alpine Health,NO,30 O'Donnell Avenue,Myrtleford,3737,NaN,PUBLIC,Multi Purpose Service
6,3483,Angliss Hospital,YES,Albert Street,Upper Ferntree Gully,3156,NaN,PUBLIC,Public Hospital
7,12266,Appearance Medical Centre,NO,57 Garsed Street,Bendigo,3550,NaN,PRIVATE,Day Procedure Centre
8,3401,Austin Health,NO,145 Studley Road,Heidelberg,3084,NaN,PUBLIC,Public Hospital
9,11733,Austin Health - Austin Hospital,YES,145 Studley Road,Heidelberg,3084,NaN,PUBLIC,Public Hospital

In [24]:
hospital_df.drop('Access Point',
  axis='columns', inplace=True)

In [27]:
hospital_df.head(1)

,Hospital ID,Hospital Name,Emergency Capable,Location Address,Suburb,Postcode,Category,Agency Type
0,5488,Albert Road Clinic,NO,31-33 Albert Road,South Melbourne,3205,PRIVATE,Private Hospital

Checking unique values of hospitals

In [30]:
n = len(pd.unique(hospital_df['Hospital Name']))

In [31]:
n

269

### Data cleaning Food file